body{
	margin:0;
}
.navigation_main>ul>li>a{
	text-decoration:none;
	padding-left:20px;
	font-size:16px;
	color:#A3A0A0;
}
.navigation_main>ul>li>a:hover{
	color:#ffffff;
	transition:0.3s;
}

/*fooooterrrrr */


.footer_main{
	background-color:#1c2733;
	height: auto;
	width: auto;
}
.footer_marquee{
	background-color:#051525;
	color:#fff;
}
.footer_logo{
	margin:0;
	padding: 10px;
}

.underline{
	border-bottom:1px solid #7F7F7F;
}
.footer_undermain{
	float:right;
	padding-top:45px;
}
.footer_undermain>ul{
	list-style:none;
	margin:0;
}
.footer_undermain>ul>li{
	float:left;
}
.footer_undermain>ul>li>a{
	text-decoration:none;
	text-transform: uppercase;
	padding: 20px;
	color:#969886;
}
.footer_undermain>ul>li>a:hover{
	color:#BBB8B8;
	transition: .2s;
}
.footer_second{
	background-color:#1c2733;
}
.heading_footer>h3{
	color:#ffffff;
	font-size: 20px;
	padding-left:39px;
}
.heading_footer>ul>li>ul>li>a{
	float:left;
}
.heading_footer>h3>span{
	letter-spacing: 5px;
	color:#3385d9;
}
.heading_footer>ul{
	list-style:none;
}
.heading_footer>ul>li>p{
	text-decoration:none;
	color:#fff;
}
.heading_footer>ul>li>p>span{
	font-weight:700;
}
.heading_footer>ul>li{
	padding-top:5px;
}
.heading_footer>ul>li>a{
	text-decoration:none;
	color:#96a4b3;
}
.heading_footer>ul>li>a>span{
	font-weight:700;
}
.heading_footer>ul>li>a:hover{
	color:#3385d9;
	transition:.5s;
}


	
/*foooterr end*/

.hero{
	width:500px;
	height:300px;
	margin-top:25px;
}
.hero:hover{
	transform: scale(.9);
	transition:0.5s;
	cursor: pointer;
	box-shadow: 0 0 0 10px #3385d9;
}